<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>%%TITLE%%</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-dark.css">
    <link rel="stylesheet" href="stylesheets/openjcc.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <h1>%%PAGE_TITLE%%</h1>
        <p>%%PAGE_SUBTITLE%%</p>
      </header>

      <div id="banner">
        <span id="logo"></span>
        <a href="./index.html" class="button"><strong>%%MAIN_MENU%%</strong></a>
        <a href="./opinion.html" class="button"><strong>%%OPINION_MENU%%</strong></a>
        <a href="./explanation.html" class="button"><strong>%%EXPLANATION_MENU%%</strong></a>
        <a href="./comparison.html" class="button"><strong>%%COMPARISON_MENU%%</strong></a>
        <a href="./full_text.html" class="button"><strong>%%FULL_TEXT_MENU%%</strong></a>
        <a href="./join_us.html" class="button"><strong>%%JOIN_US_MENU%%</strong></a>
        <a href="%%GITHUBPAGE_URL%%" class="button"><strong>View On GitHub</strong></a>
<!--
        <a href="%%GITHUBPAGE_URL%%" class="button fork"><strong>View On GitHub</strong></a>
        <div class="downloads">
          <span>%%DOWNLOAD_INDICATION%%:</span>
          <ul>
            <li><a href="%%GITHUBPAGE_URL%%/zipball/master" class="button">ZIP</a></li>
            <li><a href="%%GITHUBPAGE_URL%%/tarball/master" class="button">TAR</a></li>
          </ul>
        </div>
-->
        <div class="downloads">
          <span>%%DOWNLOAD_INDICATION%%:</span>
          <ul>
            <li><a href="%%PDF_URL%%" class="button">PDF</a></li>
          </ul>
        </div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>

%%CONTENTS%%

<hr>

<p>%%PROJECT_NAME_NL%%<br>
<a href="mailto:%%PROJECT_MAILADDRESS%%">%%PROJECT_MAILADDRESS%%</a></p>
      </section>
      <footer>
        <p>Project maintained by <a href="%%PROJECT_HOMEPAGE_URL%%">%%PROJECT_NAME%%</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
